* {
  margin-right: 2rem;
  margin-left: 2rem;
  box-sizing: border-box;
  background-color: rgb(247, 247, 247);
  border: 0;
  padding: 0;
  margin: 0;
  color: #2a2828

}

body {
  background-color: gray;
  
}
button:hover{
  background-color: rgb(255, 255, 255, 0.2);
  color: white;
  transition: 0.3s;
}

a:hover {
  background-color: rgb(255, 255, 255, 0.2);
  color: white;
  transition: 0.3s;
}