.mission-img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 2%;
}

.core-values {
  max-width: 100%;
  max-height: 100%;
  background-color: darkgray;
  height: 25rem;
  display: flex;
  align-items: center;
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 2%;
}

.core-p {
  margin-left: 20%;
  margin-right: 20%;
  background-color: darkgray;
  color: white;
  font-size: 1.7rem;
}

.history {
  background-image: url("https://images.unsplash.com/photo-1570304816841-906a17d7b067?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmV3JTIweW9yayUyMHNreWxpbmV8ZW58MHx8MHx8&w=1000&q=80");
  width: 100%;
  height: 30rem;
  background-size: cover;
  display: flex;
  align-items: center;
}

.history-values {
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  font-size: 1.7rem;
  background-color: transparent;
  font-family:'Times New Roman', Times, serif;
}