.cartShow {
  /* border: 2px solid red; */
  margin: 1rem 0 1rem 0;
}
.cartSum {
  /* border: 2px solid red; */
  margin: 1rem 0 1rem 0;
  border-left: none;
}
.cartImg {
  width: 100%;
  height: auto;
  background-color: white;
  object-fit: cover;
}
.table {
  max-width: 100%;
}
.deleteBtn {
  background-color: rgba(194, 119, 119, 0.2);
}