.footer{
    width: 100%;
    padding: 4rem 0;
    border: 2px solid red;
}
.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.left{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.location{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.location p {
    line-height: 30px;
}
.right{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.social{
    margin-top: 1rem;
}
.h4{
    font-size: 1.5rem;
    padding-bottom: 0.7rem;
}
p{
    font-size: 1.2rem;
}
@media screen and (max-width: 640px){
    .footer-container{
        grid-template-columns: 1fr;
    }
}