#home-title {
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 2em;
  text-align: center;
}
.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#featured-title {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0.5em;
  text-align: center;
}

.features-section {
  /* border: 2px solid red; */
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
}

.featured-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 75%;
  flex-wrap: wrap;
}

.featured-parent .product {
  border: 1px solid black;
  height: 100%;
  width: 33%;
}

.button-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.shopall-button {
  margin-top: 2em;
  margin-bottom: 2em;
  /* border: 1px solid red; */
  font-size: 1.5em;
}
.randomizedImgs {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: white;
}
.productName {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 0.5em;
  background-color: white;
  border: 1px solid black;
}

.productName,
.randomizedImgs {
  background-color: rgb(247, 247, 247)
}
/* create a hover effect for the product name with pointer */
.productName:hover,
.randomizedImgs:hover {
  cursor: pointer;
}

@media screen and (max-width: 820px) {
  .features-section {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }
}
