.nav-bar {
  width: 100%;
  margin-top: 0;
  /* border: 2px solid red; */
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10;
}

.navbar-right {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
ul {
  margin-bottom: 0;
}

li {
  list-style: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10;
}
.header-bg {
  background-color: rgb(0, 0, 0, 0.84);
  transition: 0.5s;
}
.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu li button{
  color: rgb(45, 44, 44);
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.burger {
  display: none;
}

.nav-bar img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}




@media screen and (max-width: 1040px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.3s;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-menu li {
    padding: 1rem 0;
  }
  .nav-menu li a {
    font-size: 2rem;
  }
  .burger {
    display: initial;
  }
}
