

.Productpage {
    display: grid;
    min-height: 75%;
    font-family: 'Bentham', serif;
    background-color:#f0c9c9
  }
.product {
  height: 420px;
  width: 654px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: -16px 47px 65px -28px rgba(153,191,183,1);
  -moz-box-shadow: -16px 47px 65px -28px rgba(153,191,183,1);
  box-shadow: -16px 47px 65px -28px rgba(153,191,183,1);
}
 
 .button {
    background-color: black;
    color: white;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 60px;
    transition-duration: 0.4s;
    width: 50%;
    grid-template-columns: repeat(auto-fill, 30px);
    width: 60%;
    grid-gap: 4px;
    margin-left: 20px;
    margin-top: 5px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
 }
 
 
 .button:hover {
    background: white;
    color: rgb(74, 74, 74);
    border: black
 }
p{
  letter-spacing: 3px;
}
 
.productDescription {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}
.productSpecs {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.productTitle {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.productImage {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 7px 0 0 7px;
}

/* 
.product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}
  */