.productPage {
  height: 60vh;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.specificProductImg {
  height: 80%;
  width: 50%;
  object-fit: contain;
  background-color: white;
}
.productButton {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid red;
  font-size: 1.5em;
}
.singularProduct {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
}
.description {
  display: flex;
  flex-direction: column;
}
.cartButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addToCartBtn {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid red;
  font-size: 1.5em;
}

/*for the modal */

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.updateForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.updateLabel {
  font-weight: bold;
  font-size: 16px;
}

input[type="text"],
textarea,
input[type="number"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  resize: none;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}

button {
  background-color: #f8f9fa;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 10px;
}

button:hover {
  background-color: #e2e6ea;
}
.description-label {
  display: flex;
}

textarea { 
  padding: 1px; 
  border: solid 1px #5c8593; 
  font-size: 10pt; 
  color:#42484d; 
  background-color:#ffffff;
}
label input,
textarea {
    float: right;
    clear: both;

}